<!DOCTYPE html>
<html manifest="manifest.appcache"/>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <title>Bus Timetable</title>
  <link rel="stylesheet" href="css/topcoat-mobile-light.min.css">
  <link rel="stylesheet" href="css/pageslider.css">

  <!-- Web app meta tags -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Android web app icon -->
  <link rel="shortcut icon" sizes="196x196" href="nice-highres.png">

  <!-- Apple web app icon -->
  <link rel="apple-touch-icon" href="touch-icon-iphone.png">

  <!-- Optional Apple web app icon -->
  <link rel="apple-touch-icon" sizes="76x76" href="touch-icon-ipad.png">
  <link rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina.png">
  <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina.png">

</head>
<body>

  <div id="destination-page" class="page page-center">
  </div>
  <div id="stop-page" class="page">
  </div>


  <script type="text/html" id='destination-template'>
  <div class="topcoat-navigation-bar">
  
  <div class="topcoat-navigation-bar__item center full">
  <h1 class="topcoat-navigation-bar__title">Bus Schedule</h1>
  </div>
  </div>
  <div id="destination-container" >
  <div class="topcoat-list">
  <h3 class="topcoat-list__header">Destinations</h3>
  <ul class="topcoat-list__container" id="destination-container">
  <% _.each(arDestinations,function(dest,key,list){ %>
    <li class="topcoat-list__item">
    <a href="#/stop/<%= key %>" data-rel="stop-page"><%= dest.name %></a><br /> Next bus at  <em><%= nextBusAt(arDestinations[key].stops) %></em>
    </li>
    <% }) %>
  </ul>
  </div>
  </div>

  </script>

  <script type="text/html" id='stop-template'>

  <div class="topcoat-navigation-bar">
  <div class="topcoat-navigation-bar__item left quarter">
  <a class="topcoat-icon-button--quiet back-button" href="#">
  Back
  </a>
  </div>
  <div class="topcoat-navigation-bar__item center half">
  <h1 class="topcoat-navigation-bar__title"><%= stopName %>: Stop Details</h1>
  </div>
  </div>
  <div id="stop-container">
  <div class="topcoat-list">
  <h3 class="topcoat-list__header"><%= stopName %></h3>
  <ul class="topcoat-list__container" id="stop-container">
  <% _.each(arCurrentStops,function(stop,key,list){ %>
    <li class="topcoat-list__item">
    <%= stop.time %>
    </li>
    <% }) %>
  </ul>
  </div>
  </div>
  </script>

  <script src="js/helpers.js"></script>
  <script src="js/dates.js"></script>
  <script src="js/lib/jquery-2.1.0.min.js"></script>
  <script src="js/lib/iscroll.js"></script>
  <script src="js/lib/hammer.js"></script>
  <script src="js/lib/fastclick.js"></script>
  <script src="js/lib/underscore-min.js"></script>
  <script src="js/lib/backbone-min.js"></script>
  <script src="js/lib/pageslider.js"></script>
  <script src="js/app.js"></script>
  <script src="js/routers/router.js" ></script>

</body>
</html>